@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: all 300ms ease;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: flex;
  align-items: center;
  transition: all .3s ease;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #2563eb;
  transition: all .3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-ms-overflow-style {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}